@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nanum+Gothic&display=swap');

.brand-text{
    margin-top: -10px;
    font-size: 45px;
    
   
  background: -webkit-linear-gradient(rgb(18, 11, 43), rgb(207, 8, 118));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'DM Serif Display', serif;
}